body{
    background-color: bisque;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(123deg, #00feba, #5b548a);
    color: white;
    margin: 200px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: white;
    color: #555;
    height: 50px; 
    padding: 10px 25px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 18px;
    flex: 1;
}
.search button{
    border: 0;
    outline: 0;
    background: white;
    color: #555;
    padding: 10px 0px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.search button img{

    width: 35px;
    
}