*{
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

body{
    background-color: rgb(244, 235, 228);
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(123deg, #3498db, #9b59b6);    
    color: white;
    margin: 200px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;  
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: white;
    color: #555;
    height: 50px; 
    padding: 10px 25px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 18px;
    flex: 1;
}

.search button{
    border: 0;
    outline: 0;
    background: white;
    color: #555;
    padding: 10px 0px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.search button img{

    width: 35px;
    
}

.weather-icon{
    width: 170px;
    margin-top: 30px;

}

.weather h1{
    font-size: 65px;
    font-weight: 500;
}

.weather h2{
    font-size: 65px;
    font-weight: 400;
    margin-top: -10px;
}
.weather img{
    width: 20%;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
}

.col p:nth-child(3) {
    padding-left: 32%;
    flex-basis: 50%; /* Each <p> takes up 50% of the container's width */

  }
  
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity{
    font-size: 28px;
    margin-top: -6px;
}

.wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;

}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}